<div class="panel panel-primary">
    <div class="panel-heading">Map imported fields to your master fields</div>
    <div class="panel-body">
        <div class="col-md-2">

            <div class="row" data-ng-repeat="db in tables">
                <div>
                    <h5><a href ng-click="selectDb(db)">{{db}}</a></h5>
                </div>
            </div>

        </div>

        <div class="col-md-5">
            <div class="row">
                <div id="drag2" draggable="true" ondragstart="drag(event)">
                    This is an incoming field
                </div>
            </div>

            <div class="row">
                <div id="drag2" draggable="true" ondragstart="drag(event)">
                    This is an incoming field
                </div>
            </div>

            <div class="row">
                <div id="drag2" draggable="true" ondragstart="drag(event)">
                    This is an incoming field
                </div>
            </div>
        </div>


        <div class="col-md-5">

            <div class="row" data-ng-repeat="fld in fields">
                <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <h5><b>{{fld}}</b></h5>
                </div>
            </div>

        </div>
    </div>
</div>