<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">Define Master Database</div>
        <div class="panel-body">
            <form name="dataForm">
                <div class="form-group">
                    <p>Master Database - Define your fields</p>
                    <h5>These are the common fields that you use the most. You will map each database you import to these fields.</h5>
                </div>
                <div class="form-group">
                    <div>
                        <fieldset data-ng-repeat="field in choiceSet.choices track by $index">
                            <input type="text" ng-model=" choiceSet.choices[$index]" required></input>
                            <button type="button" class="btn btn-default btn-sm" ng-click="removeChoice($index)">
                                <span class="glyphicon glyphicon-minus"></span> REMOVE
                            </button>
                        </fieldset>
                    </div>
                    <div>
                        <input type="button" class="btn btn-primary" ng-click="addNewChoice()" value="ADD FIELD">
                    </div>
                </div>
                <BR>
                <p>
                    <input type="submit" class="btn btn-primary"
                           ng-click="submitForm()"
                           ng-disabled="dataForm.fileURL.$dirty && dataForm.dbName.$invalid || myForm.delimiter.$dirty">
                </p>
            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="panel panel-primary">
        <div class="panel-body">

            <div>
                <h4>Existing Master Fields</h4>
            </div>

            <div ng-repeat="fld in fields">


                <div class="col-md-6">
                    {{fld}}
                </div>
                <div class="col-md-6">
                    <h5><a href ng-click="deleteFld(fld)">Delete</a> </h5>
                </div>

            </div>

        </div>
    </div>
</div>