<div class="row" ng-if="showSimple">
    <div class="panel panel-primary">
        <div class="panel-heading">Simple Query</div>
        <div class="panel-body">
            <h5>Simple Query - your search phrase will search against all loaded databases</h5>
            <form name="dataForm">
                <div class="form-group">

                    <div class="col-md-6">
                        <fieldset>
                            <input type="text" ng-model="simple" class="form-control" id="simple">
                        </fieldset>
                    </div>


                    <div class="col-md-2">
                        <input type="button" class="btn btn-primary" ng-click="addNewChoice()" value="Search">
                    </div>

                    <div class="col-md-4">
                        <h5><a href ng-click="toggleAdvanced()">Advanced query</a></h5>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="row" ng-if="showAdvanced">
    <div class="panel panel-primary">
        <div class="panel-heading">Advanced Query</div>
        <div class="panel-body">
            <h5>Advanced Query - define specific paramaters</h5>
            <form name="dataForm">
                <div class="form-group">

                    <div>
                        <fieldset data-ng-repeat="field in choiceSet.choices track by $index">

                            <BR>

                            <div class="col-md-5">
                                <label for="sel1">Select field:</label>
                                <select class="form-control" ng-model=" choiceSet1.choices[$index]" id="sel1">
                                    <option>First Name</option>
                                    <option>Middle Name</option>
                                    <option>Last Name</option>
                                    <option>Email</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <label for="sel2">Where field:</label>
                                <select class="form-control" ng-model=" choiceSet2.choices[$index]" id="sel2">
                                    <option>Equals</option>
                                    <option>Is Like</option>
                                </select>
                            </div>

                            <div class="col-md-5">
                                <label for="searchPhrase">Search Phrase:</label>
                                <input class="form-control" type="text" ng-model=" choiceSet3.choices[$index]"
                                       id="searchPhrase" required></input>
                            </div>


                        </fieldset>
                    </div>

                    <BR>
                    <div>
                        <input type="button" class="btn btn-primary" ng-click="addNewChoice()"
                               value="Add search parameter">

                        <button type="button" class="btn btn-default btn-sm" ng-click="removeChoice($index)">
                            <span class="glyphicon glyphicon-minus"></span> REMOVE
                        </button>

                    </div>
                </div>

                <BR>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-primary"
                           value="Search"
                           ng-click="submitForm()"
                           ng-disabled="dataForm.fileURL.$dirty && dataForm.dbName.$invalid || myForm.delimiter.$dirty">
                </div>
                <div class="col-md-2">
                    <h5><a href ng-click="toggleAdvanced()">Simple query</a></h5>
                </div>

                </p>

            </form>

        </div>
    </div>
</div>


</div>

